<div class="headder-top d-lg-flex justify-content-between align-items-center py-3 px-sm-3">
      <!-- logo -->
      <div id="logo">
        <h1>  <a href="/">Jainam-Pro</a> </h1>
      </div>
      <!-- //logo -->
    <nav>
        <label for="drop" class="toggle">Menu</label>
        <input type="checkbox" id="drop" />
        <ul class="menu">
          <li>
            <a href="/services" class="active">Services</a>
          </li>
           <li>
            <a href="/pricing">Pricing</a>
          </li>
           <li>
            <a href="/portfolio">Portfolio</a>
          </li>          
          <li>
            <a href="/about">About</a>
          </li>        
          <li>
            <a href="/contact">Contact</a>
          </li>
        </ul>
    </nav>
      
    
</div>