 
    
  <!-- error -->
  <section class="error py-lg-4 py-md-3 py-sm-3 py-3">
    <div class="container py-lg-5 py-md-5 py-sm-4 py-3">
      <div class="error_page-w3layouts text-center">
        <h4>404</h4>

      </div>
      <div class="error-founded text-center">
        <h5 class="mt-lg-5 mt-md-4 mt-3">Ooops, Something Goes Wrong...</h5>
        <p class="mt-lg-4 mt-3">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          <br>quis nostrud exercitation</p>
        <a href="/" class="btn mt-lg-5 mt-sm-4 mt-3">Go Back </a>
      </div>
    </div>
  </section>
  <!--//error -->
  {{> footer}}